/* centers the entire app */
.App {
  text-align: center;
}

/* div around the navbar */
#navbar {
  display: block;
  background-color: lightblue;
  width: 800px;
  border: 10px solid red;
  padding: 50px;
  margin: auto;
}

/* home component, always present */
#home {
  display: block;
  background-color: lightblue;
  width: 800px;
  border: 10px dashed red;
  padding: 50px;
  margin: auto;

}

/* styling for ship and crew containers */
.container {
  display: block;
  width: 800px;
  padding: 50px;
  background: grey;
  border: 10px groove darkblue;
  margin: auto; 
}

/* styling for all systems */
.ship-system {
  border: dashed red;
  width: 200px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background-color: lightblue;
}

/* damage button */
.damage {
  background: lightcoral;
}

/* repair button */
.repair {
  background: lightgreen;
}

/* div for each crewmate */
.crewmate {
  border: dashed red;
  width: 300px;
  padding: 20px 10px;
  margin: 10px;
  background-color: lightblue;
}

/* div for the crew form */
#crew-form {
  border: dashed red;
  width: 300px;
  padding: 20px 10px;
  margin: 10px;
  background-color: lightblue;
  float: right;
  position: relative;
  bottom: 9px;
}