.App {
  text-align: center;
}

#navbar {
  display: block;
  background-color: lightblue;
  width: 800px;
  border: 10px solid red;
  padding: 50px;
  margin: auto;
}

#home {
  display: block;
  background-color: lightblue;
  width: 800px;
  border: 10px dashed red;
  padding: 50px;
  margin: auto;

}

.container {
  display: block;
  width: 800px;
  padding: 50px;
  background: grey;
  border: 10px groove darkblue;
  margin: auto; 
}

.ship-system {
  border: dashed red;
  width: 200px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background-color: lightblue;
}

.damage {
  background: lightcoral;
}

.repair {
  background: lightgreen;
}

.crewmate {
  border: dashed red;
  width: 300px;
  padding: 20px 10px;
  margin: 10px;
  background-color: lightblue;
}

#crew-form {
  border: dashed red;
  width: 300px;
  padding: 20px 10px;
  margin: 10px;
  background-color: lightblue;
  float: right;
  position: relative;
  bottom: 9px;
}